.spyproject/
*.pyc
__pycache__/
*.pyo
*.pyd
*.so
*.dylib
*.dll
*.egg-info/


# Virtual Environments
*.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
.conda/
backups/
defaults/
# Jupyter Notebook stuff
.virtual_documents/
.ipynb_checkpoints/

# Ignore logs
*.log
*.tmp
debug.log
profile.prof

#ides
*.vscode
.vscode/
.idea/
.spyproject

# OS-Specific Files
.DS_Store
.Trash-*

# Ignore build artifacts
build/
dist/

# Ignore all files in any directory named debug
**/debug/*

#keeping .dockerignore
.dockerignore.local

# C compiler stuff
*.c
*.so
*.spec

#windows
Thumbs.db
ehthumbs.db
Desktop.ini


*.ini.bak
*.ini


#files that are not needed
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip
