<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>House Price Prediction</title>
</head>
<body>
    <h1>House Price Prediction</h1>
    <form action="/predict" method="post">
        <label for="year">year:</label>
        <input type="number" id="year" name="year" required><br><br>
        <label for="age">age:</label>
        <input type="number" id="age" name="age" required><br><br>
        <label for="beds">beds:</label>
        <input type="number" id="beds" name="beds" required><br><br>
        <label for="baths">baths</label>
        <input type="number"id="baths" name="baths"required><br><br>
        <label for="home_size">home_size</label>
        <input type="number"id="home_size" name="home_size" required><br><br>
        <label for="parcel_size">parcel_size</label>
        <input type="number"id="parcel_size" name="parcel_size" required><br><br>
        <label for="pool">pool</label>
        <input type="number"id="pool"name="pool" required><br><br>
        <label for="dist_cbd">dist_cbd</label>
        <input type="number" id="dist_cbd" name="dist_cbd" required><br><br>
        <label for="dist_lakes">dist_lakes</label>
        <input type="number" id="dist_lakes" name="dist_lakes" required><br><br>
        <label for="input10">x_coord</label>
        <input type="number" id="x_coord" name="x_coord" required><br><br>
        <label for="input11">y_coord</label>
        <input type="number" id="y_coord" name="y_coord" required><br><br>
        <button type="submit">Predict</button>
    </form>
</body>
</html>




