#paths
raw_path: data/raw/hmda.txt
model_path: artifacts/model.pkl
url_link: https://raw.githubusercontent.com/nickkats1/sklearn_only/refs/heads/main/hmda/data/raw/hmda.txt


# variables
features:
 - occupancy
 - approved
 - loan_amount # in thousands
 - race
 - sex
 - income
 - married
 - self_employed
 - purchase_price
 - other_financing
 - liquid_assets
 - credit_history
 - chcp
 - chpr
 - debt_to_expense
 - di_ratio
 - appraisal
 - pmi_denied
 - unemployment
 - education
 - unverifiable
 - pmi_sought




# drop variables

unused_variables:
 - seq
 - s3
 - s4
 - s9
 - s14
 - s16
 - s18
 - s19a
 - s19b
 - s19c
 - s19d
 - s20
 - s24a
 - s25a
 - s26a
 - s30a
 - s30c
 - s31a
 - s31c
 - s32
 - s39
 - s41
 - s47
 - s48
 - s51
 - s49
 - s54
 - dprop
 - s55
 - s57
 - s11
 - uria
 - school
 - netw
 - s6




#used features(I changed the columns name to what their names were in the paper)
features:
 - occupancy
 - race
 - sex
 - income
 - married
 - credit_history
 - di_ratio
 - pmi_denied
 - unverifiable
 - pmi_sought
 - debt_to_expense
 - chpr
 - chcp
 - pmi_sought
 - vr


target: approved # changed to approved 1 == 3; 0 for everything else; I changed this as well based on the paper written.











