<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sub 1 Hour(learn torch and get good)</title>
</head>
<body>
    <h1>Log Odds Util Prediction in under a hour</h1>
    <form action="/predict" method="post">
        <label for="income">income:</label>
        <input type="number" id="income" name="income" required><br><br>
        <label for="homeownership">homeownership:</label>
        <input type="number" id="homeownership" name="homeownership" required><br><br>
        <label for="purchases">purchases:</label>
        <input type="number" id="purchases" name="purchases" required><br><br>
        <label for="credit_limit">credit_limit</label>
        <input type="number"id="credit_limit" name="credit_limit"required><br><br>
        <label for="home_size">fico</label>
        <input type="number"id="fico" name="fico" required><br><br>
        <label for="num_late">num_late</label>
        <input type="number"id="num_late" name="num_late" required><br><br>
        <label for="past_def">past_def</label>
        <input type="number"id="past_def"name="past_def" required><br><br>
        <label for="num_bankruptcy">num_bankruptcy</label>
        <input type="number" id="num_bankruptcy" name="num_bankruptcy" required><br><br>
        <label for="avg_income">avg_income</label>
        <input type="number" id="avg_income" name="avg_income" required><br><br>
        <label for="density">density</label>
        <input type="number" id="density" name="density" required><br><br>
        <button type="submit">Predict</button>
    </form>
</body>
</html>


